{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div id="app"></div>
    {% else %}
        <span>Login Required!</span>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script>
        {% if currentCategoryId is defined %}
            window.currentCategoryId = '{{ currentCategoryId|e('js') }}'
        {% else %}
            window.currentCategoryId = null;
        {% endif %}
    </script>
    {{ encore_entry_script_tags('product') }}
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}
